[*]
end_of_line = lf

[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_locals_parameters_members = true:none

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_member_access = true:none
